* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  overflow-x:hidden; 
  overflow-y:auto;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background: #e1306c;
  padding: 6px 14px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}
.logo_content .logo img {
  margin-right: 5px;
}
.logo img {
  width: 40px;
  cursor: pointer;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li a {
  position: absolute;
  width: 221px;
  height: 40px;
  left: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}
.sidebar ul li a img{
  height: 22px;
  min-width: 22px;
  line-height: 50px;
  text-align: center;
  margin-left: 30px;
  padding-right: 10px;
}

.sidebar ul li a:hover {
  background: #30e1a5;
  color: #fff;
}

.title h3 {
  position: absolute;
  width: 716px;
  height: 75px;
  left: 300px;
  top: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 75px;
  /* identical to box height */
  color: #000000;
}

button {
  width: 150px;
  padding: 7px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #e1306c;
  background-color: #e1306c;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  left: 1100px;
  top: 12px;
}

.stitched {
  padding: 20px;
  margin: 10px 0 0 300px;
  background: #fff;
  color: #a7bac5;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #a7bac5;
  border-radius: 10px;
  font-weight: normal;
  height: 200px;
  width: 200px;
}

.column {
  width: 35%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row {
  display: flex;
}
input {
  border: none;
  outline: none;
  background: none;
}

label {
  display: block;
  width: 260px;
  margin: 10px auto;
  text-align: left;
  padding: 3.5px;
}

label span {
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
}

input {
  display: block;
  width: 150%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 10px;
  border: 1px solid rgba(109, 93, 93, 0.4);
  text-align: left;
  border-radius: 10px;
}

.title2 h3 {
  position: absolute;
  width: 716px;
  height: 75px;
  left: 300px;
  top: 300px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 75px;
  /* identical to box height */
  color: #000000;
}




/* card.css*/

.post{
  width: 23%;
  height: 70vh;
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 7px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin-left: 300px;
}

.info{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username{
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.info .options{
  height: 10px;
  cursor: pointer;
}

.info .user{
  display: flex;
  align-items: center;
}

.info .profile-pic{
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
  
}

.info .profile-pic img{
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 30px;
}

.post-image{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.post-content{
  width: 100%;
  padding: 13px;
}

.likes{
  font-weight: bold;
}

.description{
  margin: 2px 0;
  font-size: 14px;
  line-height: 20px;
  
}

.post-content span{
  font-weight: bold;
}

.post-time{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.reaction-wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon{
  height: 25px;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.reaction-wrapper .icon.save{
  margin-left: auto;
}